/* Home Page Style Sheet */

*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    cursor: pointer;
}
.ttt
{
     background-color: rgba(0, 0, 0, 0.363);
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    cursor: pointer;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 45%;
}
li{
    margin-right: 2%;
}
a{
    text-decoration: none;
    color: black ;
    font-size: larger;
}
a:hover{
    color: white;
}
.name{
    text-align: center;
    font-size:xx-large;
    font-weight: bold;
    color: lightgoldenrodyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
/*.background{
    background: linear-gradient(to top,rgb(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(Images/cathedral-6709412_1920.jpg);
    background-position: center;
    background-attachment: unset;
    background-size: cover;
    overflow: hidden;
    height: 150vh;
}*/
p{
    text-align: center;
    font-size: larger;
    color: white ;
}
.intro{
    text-align: center;
    color: white;
}
button{
    color: white;
    background-color: rgba(0, 0, 0, 0.815);
    width: 25%;
    height: 5rem;
    margin-left: 35%;
    transition: 1s;
    border: 2px;
    border-color: white;
    border-style: solid;
    font-size: large;
}
button:hover{
    background-color:lightcoral;
    width: 35%;
    height: 5rem;
    transition: 0.5s;
}
.image{
    width: 100%;
    height: 600px;
}
#hih{
    position:absolute;
    top: 30px;
    left: 300px;
    color: white;
}
.image-intro{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 20px
}
.image-content{
    max-width: 1000px;
    color: black;
    font-size: 1rem;

}
.home-end{
    text-align: center;
}
h5{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    color: black ;
}

/*  Booking Page Style Sheet Starts */


.contain{
    max-width: 400px;
    background-color:rgba(0, 0, 0, 0) ;
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 3px;
    border-color: black;
    border-style: solid;
}
h2{
    text-align: center;
    color: #080606;
}
label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: black;
}
input,select{
    width: 75%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 14px;
}
.search{
    margin-top: 20px;
    width: 75%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    background: rgba(255, 245, 238, 0.349);
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10%;
}
.search:hover{
    background: #217fdd;
    width: 75%;
    margin-top:;
}



/*  Place Page style sheets starts */

.place{
    background-color: bisque;
}
.place-content{
    display: inline-block;
    margin-left: 6%;
    width: 25%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}
.place-list{
    text-align: left;
    padding: 50px 20px;
    height: 25%;
    
}

/* About Us style sheets starts */

.about{
    background-color:floralwhite;
}
.aboutus{
    background-color: black;
    color: white;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    padding: 20px;
    background-image: url(Images/aboutus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100%;
}
.contact{
    background-color: black;
    padding: 20px;
    color: beige;
    text-align: center;
}
